Repository gelocraft/eastblue, changes with the labels that .github/labeler.yaml gives for each.
All labels: editorconfig, ansible, terraform, packer

.github/labeler.yaml:

---
editorconfig:
  - changed-files:
      - any-glob-to-any-file: '.editorconfig'

ansible:
  - changed-files:
      - any-glob-to-any-file: ['ansible/**']

terraform:
  - changed-files:
      - any-glob-to-any-file: ['terraform/*']

packer:
  - changed-files:
      - any-glob-to-any-file: ['packer/*']

ci:
  - head-branch: ['^ci', 'ci']
  - changed-files:
      - any-glob-to-any-file:
          - .github/scripts/**
          - .github/actions/**
          - .github/workflows/**

documentation:
  - head-branch: ['^docs', '^documentation']
  - changed-files:
      - any-glob-to-any-file: ['docs/**', '**/*.md']

revert:
  - head-branch: ['^revert', 'revert', '^rollback', 'rollback']

ansible(common/role): add uv (python package manager)
  ansible/roles/common/tasks/main.yaml
Labels: ansible

ansible(role/common): add pipx
  ansible/roles/common/tasks/main.yaml
Labels: ansible

ansible(common/role): add uv (python package manager)
  ansible/roles/common/tasks/main.yaml
Labels: ansible

docs: update readme
  README.md
Labels: none

ci(packer): update release_tag default value and options
  .github/workflows/packer-build.yaml
Labels: none

common: add direnv
  ansible/roles/common/tasks/main.yaml
Labels: ansible

common: add direnv
  ansible/roles/common/tasks/main.yaml
Labels: ansible

common: add ctags
  ansible/roles/common/tasks/main.yaml
Labels: ansible

common: add ctags
  ansible/roles/common/tasks/main.yaml
Labels: ansible

common: add sqlc
  ansible/roles/sqlc/tasks/main.yaml
Labels: ansible

common: add vim
  ansible/roles/common/tasks/main.yaml
Labels: ansible

common: add vim
  ansible/roles/common/tasks/main.yaml
Labels: ansible

common: add sqlc
  ansible/roles/sqlc/tasks/main.yaml
Labels: ansible

fix(ansible): update GOBIN file paths
  ansible/roles/fzf/tasks/main.yaml
  ansible/roles/lazygit/tasks/main.yaml
Labels: ansible

fix(ansible): update GOBIN file paths
  ansible/roles/fzf/tasks/main.yaml
  ansible/roles/lazygit/tasks/main.yaml
Labels: ansible

playbook: remove docker
  README.md
  ansible/playbook.yaml
Labels: ansible

common: add podman
  ansible/roles/common/tasks/main.yaml
Labels: ansible

playbook: remove docker
  README.md
  ansible/playbook.yaml
Labels: ansible

common: add podman
  ansible/roles/common/tasks/main.yaml
Labels: ansible

docs: update readme
  README.md
Labels: none

feature: allow dynamic ssh key fingerprint
  .github/workflows/terraform-apply.yaml
  terraform/main.tf
  terraform/terraform.tfvars
  terraform/variables.tf
Labels: terraform

feature: allow dynamic ssh key fingerprint
  .github/workflows/terraform-apply.yaml
  terraform/main.tf
  terraform/terraform.tfvars
  terraform/variables.tf
Labels: terraform

docs: update readme
  README.md
Labels: none

chore: update ctags package name
  ansible/roles/common/tasks/main.yaml
Labels: ansible

chore: update ctags package name
  ansible/roles/common/tasks/main.yaml
Labels: ansible

chore: output public ssh fingerprint
  terraform/outputs.tf
Labels: terraform

chore: output public ssh fingerprint
  terraform/outputs.tf
Labels: terraform

ci: update output workflow
  .github/workflows/terraform-output.yaml
Labels: none

ci: update terraform destroy workflow file
  .github/workflows/terraform-destroy.yaml
Labels: none

ci: update terraform destroy workflow file
  .github/workflows/terraform-destroy.yaml
Labels: none

ci: update output workflow
  .github/workflows/terraform-output.yaml
Labels: none

chore: remove unused outputs
  terraform/outputs.tf
Labels: terraform

chore: remove unused outputs
  terraform/outputs.tf
Labels: terraform

ci: update workflow file
  .github/workflows/terraform-apply.yaml
  .github/workflows/terraform-destroy.yaml
Labels: none

ci: update workflow file
  .github/workflows/terraform-apply.yaml
  .github/workflows/terraform-destroy.yaml
Labels: none

ci: update release tag
  .github/workflows/packer-build.yaml
Labels: none

docs: update readme
  README.md
Labels: none

ci: add default ssh public key
  .github/workflows/terraform-apply.yaml
Labels: none

ci: add default ssh public key
  .github/workflows/terraform-apply.yaml
Labels: none

ci: workflow for deleting ssh public keys
  .github/workflows/delete-keys.yaml
Labels: none
