Repository gelocraft/eastblue, changes with the labels that .github/labeler.yaml gives for each.
All labels: editorconfig, ansible, terraform, packer

ci: workflow for deleting ssh public keys
  .github/workflows/delete-keys.yaml
Labels: none

chore: schedule the deletion of ssh pubkeys
  .github/workflows/delete-keys.yaml
Labels: none

ci: update terraform apply workflow
  .github/workflows/terraform-apply.yaml
Labels: none

ci: comment out cron scheduling trigger
  .github/workflows/terraform-destroy.yaml
Labels: none

fix: clone dotfiles recursively
  ansible/playbook.yaml
Labels: ansible

fix: clone dotfiles recursively
  ansible/playbook.yaml
Labels: ansible

chore: change instance type to regular
  packer/main.pkr.hcl
Labels: packer

ci: list all regions workflow
  .github/workflows/digitalocean-regions.yaml
Labels: none

chore: change instance type to regular
  packer/main.pkr.hcl
Labels: packer

ci: update default ssh pub key
  .github/workflows/terraform-apply.yaml
Labels: none

ci: update default instance size
  .github/workflows/terraform-apply.yaml
Labels: none

.github/labeler.yaml:

---
editorconfig:
  - changed-files:
      - any-glob-to-any-file: '.editorconfig'

ansible:
  - changed-files:
      - any-glob-to-any-file: ['ansible/**']

terraform:
  - changed-files:
      - any-glob-to-any-file: ['terraform/*']

packer:
  - changed-files:
      - any-glob-to-any-file: ['packer/*']

ci:
  - head-branch: ['^ci', 'ci']
  - changed-files:
      - any-glob-to-any-file:
          - .github/scripts/**
          - .github/actions/**
          - .github/workflows/**

documentation:
  - head-branch: ['^docs', '^documentation']
  - changed-files:
      - any-glob-to-any-file: ['docs/**', '**/*.md']

revert:
  - head-branch: ['^revert', 'revert', '^rollback', 'rollback']
